################
##### HOME #####
################

# grep with color
alias grep="grep --color=auto"
alias egrep="grep --color=auto"
alias fgrep="grep --color=auto"

# List all files colorized and in long format
alias ll="ls -alhG"

# ls with color
alias ls="ls -G"

# bat command
alias bat='bat --plain --theme="gruvbox-dark" --color=always --paging=always'

# bat that prints like cat
alias batcat='bat --theme="gruvbox-dark" --style=plain --paging=never '
