#main-output {
    padding: 1;
    background: $boost;
    height: auto;
    overflow: auto;
    color: $text;
}
.hidden {
    display: none;
}
#cluster-scroll {
    height: 40;
    overflow: auto;
}

#scrollable-content {
    height: 1fr;           /* take remaining space */
    overflow-y: auto;      /* enable vertical scrolling */
    layout: vertical;      /* stack children vertically */
}




#tabs {
    height: 4;
    padding: 1;
    background: $boost;
}
#search-container {
    padding: 1 1;
    height: auto;
    layout: horizontal;
    width: 100%;
    background: $boost;
}
#search-input {
    height: 3;
    width: 30%;
    background: $boost;
}
#search-button {
    height: auto;
    width: auto;
}